/******************** Global ********************/
body{
    margin: 0;
    color: var(--EcritureBleu);
    font-family: Philosopher;
    text-align: center;
    font-size: 12px;
    h1{
        font-size: 3rem;
        font-family: Magnolia;
    }
    h2{
        font-size: 2.5rem;
        font-family: Magnolia;
        line-height: 5rem;
        margin-top: 1rem;
        text-decoration: dotted;
    }
    h3{
        font-size: 1.25rem;
        line-height: 3rem;
    }
    p{
        font-size: 1rem;
        line-height: 2rem;
    }
}

.defilementInnactif{
    overflow-y: hidden;
    height: 100vh;
}

.accueil {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--DegradeCiel);
    h1{
        color: var(--BoutonActif);
    }
    img{
        width: 50vw;
    }
    .titre-dactylo{
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid;
        animation:
			dactylo 2s steps(16, end) forwards,
			curseur-clignotant 1.5s steps(2, end) 3;
    }
}

.site {
    background: var(--ArrierePlan);
    color: var(--EcritureBleu);
    #fleche {
        position: fixed;
        bottom: 2vh;
        right: 1vw;
        z-index: 10;
        span {
            display: block;
            width: 5vw;
            height: 5vw;
            min-width: 2rem;
            min-height: 2rem;
            max-width: 3.5rem;
            max-height: 3.5rem;
            background-image: url(../images/flecheClaire.png);
            background-size: cover;
        }
        &:hover span{
            animation: rebondi 1.5s infinite;
        }
    }
}

.site.est-active .partie {
	animation: apparition-plat 1s ease-out forwards;
}

.cache {
    pointer-events: none;
    display: none;
}
/******************** Header ********************/
header{
    display: flex;
    flex-direction: row;
    width: 100%;
}

picture{
    width: 90vw;
    img{
        max-width: 85vw;
    }
}

#navigation{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

#boutonTheme{
    background-image: url(../images/boutonClaire.png);
    margin-top: 5vh;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    display: inline-block;
    background-size: cover;
    transition: transform 0.6s ease-out;
    &:hover{
        transform: scale(1.25);
    }
    &:active{
        transform: rotate(180deg);
    }
}

.theme-toggle:checked ~ .site #boutonTheme{
    background-image: url(../images/boutonSombre.png);
    transition: transform 0.6s ease-out;
    transform: rotate(-360deg);
    &:hover{
        transform: scale(1.25);
    }
    &:active{
        transform: rotate(180deg);
    }
}

.theme-toggle:checked ~ .site #fleche span{
    background-image: url(../images/flecheSombre.png);
}

.theme-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.burger {
    width: 10vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: rotate 200ms;
    z-index: 3;
}

.burger span {
    width: 1.5rem;
    height: 2px;
    background: currentColor;
    transform-origin: center;
    transition: opacity 200ms, transform 200ms;
    color: var(--EcritureBouton);
}

 .bouton{
    display: inline-block;
    min-width: 200px;
    padding: 0.5rem 2rem;
    margin: 2.5rem auto; 
    font-family: Magnolia;
    font-size: 1.25rem;
    background: var(--Bouton);
    border: var(--BordureBouton);
    border-radius: 20px;
    box-shadow: var(--Ombre);
    text-decoration: none;
    color: var(--EcritureBouton);
    transition: transform 0.5s ease-out;
    &:hover{
        font-weight: bold;
        background: var(--BoutonHover);
        box-shadow: none;
        border: var(--BordureBouton);
        transition: transform 0.5s ease-out;
        transform: scale(1.1);
    }
    &:active{
        transform: scale(1.05);
        background: var(--BoutonActif);
    }
}

.nav-principale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    background: var(--Bouton);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
    z-index: 2;
    pointer-events: none;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms, transform 200ms;
    .bouton{
        width: 25vw;
        margin: 1rem;
        padding: 0.75rem;
        font-size: 2.5rem;
    }
    label{
        position: fixed;
        top: 10vh;
        right: 5vw;
        width: 10vw;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: start;
        width: 60vw;
        a {
            display: none;
            text-decoration: none;
            border-radius: 1rem;
            width: 45vw;
            max-width: 500px;
            margin: 0.5rem 1rem;
            padding: 1rem;
            font-size: 2rem;
            background: var(--EcritureBouton);
            color: var(--Bouton);
            transition: transform 0.6s ease-out;
            &:focus-visible {
                outline: none;
            }
            &:hover{
                font-weight: bold;
                box-shadow: var(--Ombre);
                border: var(--BordureHover);
                transform: scale(1.1) ;
            }
            &:active{
                border: none;
                outline: var(--BordureHover);
                outline-offset: -0.5rem;
                border-radius: 1rem;
            }
        }
    }
}

.nav-toggle:checked ~ .nav-principale {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
    a{
        display: block;
    }
}

.nav-toggle:checked + .burger {
    rotate: 1turn;
}
.nav-toggle:checked + label > span:nth-child(1) {
    transform: translateY(7px) rotate(45deg) scale(1.5);
}

.nav-toggle:checked + label > span:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked + label > span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg) scale(1.5);
}

/******************** Main ********************/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    position: relative;
    z-index: 1;
    margin: 1rem auto;
    padding: 1rem;
    width: 90vw;
    
    /*Bordures floues : 
    ** https://css-tricks.com/blurred-borders-in-css/
    */
    &::after{
        content: "";
        position: absolute;
        inset: -2px;
        background: var(--DegradeCiel);
        filter: blur(1px);
        z-index: -1;
        border-radius: 50px;
    }
}

#aPropos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 40vw;
        max-width: 300px;
        margin: 0 10vw;
    }
    div{
        div{
            p:nth-child(1){
                font-style: italic;
                font-size: 0.85rem;
                margin: 2rem 5rem;
            }
            p:nth-child(2){
                font-style: normal;
                margin: 1rem;
            }
            a{
                display: none;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li:first-child{
                background-color: var(--EcritureVert);
                color: var(--Tag);
                font-weight: bold;
                font-size: 1rem;
            }
            li{
                background: var(--Tag);
                color: var(--EcritureVert);
                border-radius: 1rem;
                margin: 0.5rem;
                padding: 0.5rem;
                list-style-type: none;
                font-size: 0.85rem;
            }
        }
        a{
            display: block;
        }
    }
}

#niveaux #flexNiveau{
    display: flex;
    flex-direction: column;
    div img{
        width: 50vw;
        transition: transform 0.5s ease-out;
        &:hover{
            transform: scale(1.1);
            border-radius: 50%;
            font-weight: bold;
            box-shadow: none;
            box-shadow: var(--Ombre);
        }
    }
}

#mecaniques ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    li{
        background: var(--Tag);
        color: var(--EcritureVert);
        border:var(--BordureTag);
        border-radius: 1rem;
        margin: 1rem;
        padding: 1.5rem;
        list-style-type: none;
        font-size: 1rem;
    }
}

#chat div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        width: 75vw;
        transition: transform 0.5s ease-out;
        color: var(--EcritureVert);
        min-width: 200px;
        margin: 1vw;
        padding: 20px; 
        border: var(--BordureTag);
        font-family: Magnolia;
        font-size: 1.5rem;
        background: var(--Tag);
        border-radius: 10px;
        box-shadow: var(--Ombre);
        &:hover{
            font-weight: bold;
            box-shadow: none;
            transform: scale(1.05);
        }
    }
}

#creatrice div{
    padding: 5vw;
    img{
        width: 40vw;
        max-width: 300px;
    }
    p:first-line{
        font-weight: bold;
    }
}

.arcade{
    .grille {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        .tuile {
            border-radius: 1rem;
            height: 250px;
            transition: translate 0.3s;
            position: relative;
            overflow: hidden;
            transition: transform 0.5s ease-out;
            figure {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                height: 100%;
                img {
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                }
                figcaption {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background: var(--Tag);
                    color: var(--EcritureVert);
                    display: flex;
                    align-items: center;
                    h3{
                        font-variant: small-caps;
                        font-size: 1.25rem;
                    }
                    p{
                        font-weight: bold;
                        font-size: 0.85rem;
                    }
                }
            }
            .details {
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0;
                position: absolute;
                top: 30px;
                margin: 0;
                width: 100%;
                padding: 1rem;
                color: var(--EcritureBleu);
                transition: transform 0.5s ease-out;
                font-size: 1rem;
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    li{
                        font-size: 0.85rem;
                        background: var(--Tag);
                        color: var(--EcritureVert);
                        border-radius: 0.85rem;
                        margin: 0.5rem;
                        padding: 0.5rem;
                        list-style-type: none;
                    }
                }
                p{
                    line-height: 0.85rem;
                    margin: 0.5rem;
                    &:nth-child(3){
                        font-style: italic;
                        font-size: 0.85rem;
                        margin: 0.5rem;
                    }
                }
                a{
                    background: var(--Bouton);
                    color: var(--EcritureBouton);
                    text-decoration: none;
                    width: 200px;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    border-radius: 1rem;
                    transition: transform 0.5s ease-out;
                    &:hover{
                        transition: transform 0.5s ease-out;
                        transform: scale(1.1);
                    }
                    &:active{
                        background: var(--EcritureBouton);
                        color: var(--Bouton);
                        transform: scale(1.05);
                    }
                }
            }
            &:hover {
                outline: 0.5rem solid var(--EcritureVert);
                outline-offset: -1rem;
                border-radius: 1rem;
                transform: scale(1.05);
                z-index: 5;
                background: var(--ArriereTransparent);
                .details {
                    opacity: 1;
                }
                figure{
                    display: flex;
                    flex-direction: column-reverse;
                    img{
                        opacity: 0.1;
                    }
                    figcaption{
                        color: var(--Tag);
                        background: var(--EcritureVert);
                        top: 0;
                        padding-top: 0.5rem;
                        height: 40px;
                        h3{
                            font-size: 1.25rem;
                        }
                        p{
                            font-size: 0.85rem;
                        }
                    }
                }
            }
        }
    }
}

/******************** Footer ********************/
footer {
    background: var(--DegradeCiel);
    padding-top: 2.5rem;
    min-height: 20vh;
    color: var(--EcritureBleu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 100%);;
    h2 {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    a {
        font-size: 0.85rem;
        color: var(--EcritureBleu);
        &:hover {
            color: var(--EcritureVert);
        }
    }
    p {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .contact img {
        width: 7.5vw;
        min-width: 100px;
        max-width: 200px;
        height: auto;
        transition: transform 0.5s ease-out;
        &:hover{
            transform: scale(1.1);;
        }
    }
    .media {
        .reseaux{
            display: flex;
            flex-direction: row;
            img {
                width: 40px;
                height:40px;
                margin: 0 5px;
                transition: transform 0.5s ease-out;
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .ref{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-top: 1.5rem;
        img{
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        div{
            text-align: left;
            margin-bottom: 1rem;
        }
    }
}

